body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background-color: #F4F6F7;
}

.search {
  margin:  15% 15% 8% 15%;
  padding: 5px;
  width: 72%;
  height: 25px;
  border-radius: 5px;
  font-size: 1.1em;
}

.venue-list {
  list-style: none;
  margin: 3% 0% 0% 11.5%;
  padding: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}

.location {
  padding: 6% 0px 6% 4%;
  background-color: Gainsboro;
  border-radius: 10px;
  margin: 3%;
  width: 84%;
}

.list-container {
  height: 100%;
  width: 35%;
}

.list-view {
  height: 100%;
  width: 80%;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.map {
  height: 100%;
  width: 70%;
  position: absolute;
  margin-left: 30%;
}